@font-face {
    font-family: 'CentSchbook Mono BT';
    src: url('CenturySchoolbookBT-Monospace.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Century Schoolbook';
    src: url('CenturySchoolbook.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Century Schoolbook';
    src: url('CenturySchoolbook-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Century Schoolbook';
    src: url('CenturySchoolbook-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Century Schoolbook';
    src: url('CenturySchoolbook-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

